@model IEnumerable<CmsSystem.Web.Models.ActionVm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading panel-head">Danh sách Menu</div>
                <div class="panel-body">
                    <div class="pull-left" style="padding-bottom:15px">
                        @Html.ActionLink("Thêm", "Create", null, new { @class = "btn btn-success" })
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 3%">Sửa</th>
                            <th style="width: 5%">Thứ tự</th>
                            <th style="width: 20%">Chức năng</th>
                            <th style="width: 25%">Link</th>
                            <th style="width: 5%">Icon</th>
                            <th style="width: 5%">Hiển thị</th>
                            <th style="width: 5%">Xóa</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })</td>

                                <td>@item.Position</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>@item.Link</td>
                                <td>@Html.Raw(item.Icon)</td>
                                @if (item.Display)
                                {
                                    <td style="color: green"><i class="fa fa-check" aria-hidden="true"></i></td>
                                }
                                else
                                {
                                    <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
                                }
                                <td><button data-menu-id="@item.Id" class="btn btn-danger js-delete btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('.js-delete').on('click', function () {
        var button = $(this);
        var data = {
            id: button.attr("data-menu-id")
        }
        if (confirm("Bạn có chắc chắn muốn xóa ?")) {
            $.ajax({
                url: '@Url.Action("Delete","Action")',
                type: "POST",
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        button.parents("tr").remove();
                        alert("Xóa thành công");
                    }
                },
                error: function (error) {
                    alert("Error: " + error.responseText);
                }
            });
        }
    });
</script>
